@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thumb-blue-400 {
  scrollbar-color: #60a5fa #f3f4f6;
}
.scrollbar-track-gray-200 {
  background-color: #f3f4f6;
}
